/*Setting up the body*/
body {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

/*Header Section*/

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center; /**/
  padding: 8px 290px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.right-links {
  display: flex;
  flex-shrink: 0;
  gap: 32px;
  font-size: 18px;
  color: #e5e7eb;
}

.left-links {
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.header-content {
  display: flex;
  justify-content: center;
}

.header-text h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  color: #f9faf8;
}

.header-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 8px 0;
}

.header-text {
  flex: 1;
  padding-right: 40px;
}

.header button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.header-image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  color: #e5e7eb;
}

.header > * {
  padding-bottom: 120px;
}

/* Information Section */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-header p{
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 280px;
  gap: 48px;
}

.info-image{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-box{
  border: solid 4px #3882f6;
  border-radius: 16px;
  height: 160px;
  width: 160px;
  margin-bottom: 8px;
}

.info-image p{
  margin: 0;
  width: 168px;
  text-align: center;
  color: #1F2937;
  font-size: 18px;
  margin-bottom: 104px;
}

/* Quote Section */

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  height: 400px;
  padding: 0 370px;
}

.quote i{
  font-size: 36px;
  font-weight: 300;
}

.quote p{
  align-self: flex-end;
  margin: 0;
  padding-right: 36px;
  font-size: 24px;
  font-weight: bold;
  color: #1F2937;
}